div.route.route-card-gamma-crud
    .modals
        hi-envelope-marks-create-modal(*ngIf="m.modals.create.isOpened()", (success)="r.add($event); m.closeAllModals();", (cancel)="m.closeAllModals()")
        hi-envelope-marks-delete-modal(*ngIf="m.modals.delete.isOpened()", (success)="r.remove($event); m.closeAllModals();", (cancel)="m.closeAllModals()", [envelope_marks]="c.getCurrentEntity()")
        hi-envelope-marks-edit-modal(*ngIf="m.modals.edit.isOpened()", (success)="r.replace($event); m.closeAllModals();", (cancel)="m.closeAllModals()", [envelope_marks]="c.getCurrentEntity()")
    .columns
        .column
            h1.title {{ "sidebar.item.envelope.marks.title" | translate }}
    .data-table
        hi-envelope-marks-datatable([entities]="getEntities()")
    hr
    .is-pulled-right
        .control.is-grouped
            p.control
                button.button.button-color-red(type="button", (click)="deactivateMarks()", [disabled] = "! c.hasActiveEntity() || l.isLoading() || ! isActivated()")
                    span {{ "common.deactivate" | translate }}
            p.control
                button.button.button-color-blue(type="button", (click)="activateMarks()", [disabled] = "! c.hasActiveEntity() || l.isLoading() || isActivated()")
                    span {{ "common.activate" | translate }}
            p.control
                button.button(type="button", (click)="p.down()", [disabled] = "! p.canMoveDown() || l.isLoading()")
                    i.fa.fa-arrow-circle-down
            p.control
                button.button(type="button", (click)="p.up()", [disabled] = "! p.canMoveUp() || l.isLoading()")
                    i.fa.fa-arrow-circle-up
            p.control
                button.button.button-color-red(type="button", (click)="m.delete()", [disabled] = "! c.hasActiveEntity() || l.isLoading()")
                    i.fa.fa-trash-o
                    span {{ "common.delete" | translate }}
            p.control
                button.button.button-color-blue(type="button", (click)="m.edit()", [disabled] = "! c.hasActiveEntity() || l.isLoading()")
                    i.fa.fa-pencil-square-o
                    span {{ "common.edit" | translate }}
            p.control
                button.button.button-color-green(type="button", (click)="m.create()", [disabled]="l.isLoading()")
                    i.fa.fa-plus-square-o
                    span {{ "common.add" | translate }}