.component.component-create-oauth-provider-modal
  div(*ngIf="hasAvailableHandlers()")
    form((submit)="submit()")
      .modal
        .modal-background
        .modal-card
          hi-form-progress-lock(*ngIf="status.isLoading()")
          .modal-card-head
            .modal-card-title
              span {{ "oauth2-providers.modal.create.title" | translate }}
          .modal-card-body
            hi-oauth2-provider-form([(model)]="formModel", [handlers]="getAvailableHandlers()", mode="create")
          .modal-card-foot
            .columns
              .column
                button.button(type="button", (click)="cancel()")
                  span.text {{ "common.cancel" | translate }}
              .column
                button.is-pulled-right.button.is-primary(type="submit", [disabled]="status.isLoading()")
                  span.text {{ "common.add" | translate }}
  div(*ngIf="! hasAvailableHandlers()")
    .modal
      .modal-background
      .modal-card
        .modal-card-body
          p {{ "oauth2-providers.modals.create.messages.no-available-handlers" | translate }}
        .modal-card-foot
          .columns
            .column
              button.is-pulled-right.button.button(type="button", (click)="cancel()")
                span.text {{ "common.ok" | translate }}