.component.component-help-modal
  .button-container
    button.button.is-link(type="button", (click)="open()", title="Help")
      span.icon
        i.fa.fa-question-circle
      span Help
  .help-modal-container(*ngIf="isOpened")
    .modal
      .modal-background((click)="close()")
      .modal-content
        .box
          hi-text-parser([text]="mdContent")
      button.modal-close((click)="close()")