.component-hi-locale-input()
  .is-grouped(*ngFor="let localeString of shadowLocaleStrings")
    p.control.has-addons
      span.button
        span.flag
          img(src="/admin/app/assets/img/flags/iso-32/{{getFlagForLocaleString(localeString)}}.png")
      input.input.is-expanded(type="text", name="value_{{localeString.region}}", [(ngModel)]="localeString.value", (ngModelChange)='buildLocalizedStrings()')