div.component.component-auth-sign-out
  form.form
    .modal
      .modal-background
      .modal-card
        hi-form-progress-lock(*ngIf="status.isLoading()")
        .modal-card-head
          .modal-card-title
            span {{ "auth.sign-out.modal.title" | translate }}
        .modal-card-body
          p {{ "auth.sign-out.modal.text" | translate }}
        .modal-card-foot
          .columns
            .column
              button.button(type='button', tabindex='3', (click)='cancel()') {{ "common.cancel" | translate }}
            .column
              div
                p.has-text-right
                  button.button(type='button', tabindex='2', (click)='no()')
                    span {{ "common.no" | translate }}
                  button.button.is-primary(#yesButton, type='button', tabindex='1', (click)='yes()')
                    span {{ "common.yes" | translate }}