.component.component-attachment-image-instant-input
  hi-form-progress-lock(*ngIf="status.isLoading()")
  hi-image-file-input(
    [preview]="getPreview()",
    (change-file)="onFileChange($event)",
  )