@import "./tools";

$ALL_COLORS: "red", "pink", "purple", "deep-purple", "indigo", "blue", "light-blue", "cyan", "teal", "green", "light-green", "lime", "yellow", "amber", "orange", "deep-orange", "brown", "blue-grey", "grey";

$primary: material-color("blue", "500");
$info: material-color("light-blue", "500");
$success: material-color("green", "500");
$warning: material-color("amber", "900");
$danger: material-color("red", "500");
$dark: material-color("blue-grey", "900");
$text: #000000;

@import "./../../node_modules/normalize-css/normalize.css";
@import "./../../node_modules/bulma/bulma";
@import "./../../node_modules/angular2-data-table/release/datatable.css";
@import "./../../node_modules/angular2-data-table/release/material.css";

@import "./component/ng-validation/index";

html {
  @include disable-text-select;
}

.modal {
  display: flex!important;
}

.modal-card-foot {
  display: block!important;
}

.datatable-row-wrapper>.active {
  background-color: material-color("light-blue", "500");
  color: material-color("light-blue", "50");
}

@mixin form-button-color($color) {
  color: material-color($color, '50');
  background-color: material-color($color, '600');
  border-color: material-color($color, '700');

  &:disabled {
    color: material-color($color, '50');
    background-color: material-color($color, '400');
    border-color: material-color($color, '500');
  }

  &:hover, &:focus {
    color: material-color($color, '50');
    background-color: material-color($color, '700');
    border-color: material-color($color, '800');
  }

  &:active {
    color: material-color($color, '50');
    background-color: material-color($color, '800');
    border-color: material-color($color, '900');
  }
}

@each $color in $ALL_COLORS {
  .button-color-#{$color} {
    @include form-button-color($color);
  }
}

.button {
  i.fa {
    vertical-align: text-bottom;
    display: inline-block;
    line-height: 25px;
    margin-right: 7px;
  }

  i.fa + span.text {
    margin-right: 0!important;
  }
}

.table {
  .is-active {
    background-color: material-color("blue-grey", "900")!important;
    color: white!important;;
  }
}

a {
  outline: 0!important;
}

.content ul {
  margin-left: 0!important;
  margin-top: 0!important;
}

label.checkbox {
  span.text {
    margin-left: 5px;
  }
}