div.component.component-edit-invite-card-gamma-modal
  form((submit)="submit()")
    .modal
      .modal-background
      .modal-card
        hi-form-progress-lock(*ngIf="status.isLoading()")
        .modal-card-head
          .modal-card-title
            span {{ "invite-card.gamma.edit" | translate }}
        .modal-card-body
          hi-invite-card-gamma-form((submit)="submit()", [(model)]="formModel", mode="edit")
        .modal-card-foot
          .columns
            .column
              button.button(type="button", (click)="cancel()")
                span.text {{ "common.cancel" | translate }}
            .column
              button.is-pulled-right.button.is-primary(type="submit", [disabled]="status.isLoading()", [ngClass]="{'is-loading': status.isLoading()}")
                span.text {{ "common.save-changes" | translate }}