div.route.route-event-type-crud
  .modals
    hi-designer-request-view-modal(*ngIf="modals.view.isOpened()", (decision-made)='r.updateRows($event)', (close)="modals.view.close()", [designer_request]="c.getCurrentEntity()")
    .columns
      .column
        h1.title {{ "sidebar.item.designer_request.title" | translate }}
  .data-table
    hi-designer-requests-datatable([entities]="getEntities()")
  hr
  .is-pulled-right
    .control.is-grouped
      p.control
        button.button.button-color-red(type="button", (click)="decline()", [disabled]="isReviewed()")
          span {{ "designer-request.action.decline" | translate }}
      p.control
        button.button.button-color-green(type="button", (click)="accept()", [disabled]="isReviewed()")
          span {{ "designer-request.action.accept" | translate }}