.component.component-invite-card-gamma-form
  form
    .label {{ "common.title" | translate }}
    p.control
      hi-locale-input([(value)]="model.gamma.title")
    .label {{ "common.description" | translate }}
    p.control
      hi-locale-input([(value)]="model.gamma.description")