.component.component-create-event-type-group-modal
  form((submit)="submit()")
    hi-form-progress-lock(*ngIf="status.isLoading()")
    .modal
      .modal-background
      .modal-card
        .modal-card-head
          .modal-card-title
            span {{ entity.title | localize }}
        .modal-card-body
          hi-event-type-group-form(mode="edit", [(model)]="formModel")
        .modal-card-foot
          .columns
            .column
              button.button(type="button", (click)="cancel()")
                span.text {{ "common.cancel" | translate }}
            .column
              button.is-pulled-right.button.is-primary(type="submit", [disabled]="status.isLoading()")
                span.text {{ "common.save-changes" | translate }}