.component.component-attachment-instant-input
  .columns
    .column
      p.control
      label.button.is-primary
        span {{ "common.image-file-input.select" | translate }}
        input(type="file", (change)="onFileChange($event)", [multiple]='allow_multiple')
  .media(*ngFor='let file of value')
    .media-left
      .fa-container
        i.fa.fa-file-o
    .media-content
      .content
        h4 {{ getFileName(file) }}
        h5 {{ getDateUploaded(file) }}
    .media-right
      button.button((click)="revert(file)")
        span.icon
          i.fa.fa-trash-o