.route.route-oauth2-providers-crud
  .modals
    hi-oauth2-provider-create-modal(
      *ngIf="m.modals.create.isOpened()",
      (success)="rProviders.addOAuth2Provider($event); m.closeAllModals();",
      (cancel)="m.closeAllModals()"
    )
    hi-oauth2-provider-edit-modal(
      *ngIf="m.modals.edit.isOpened()",
      (success)="rProviders.replaceOAuth2Provider($event); m.closeAllModals();",
      (cancel)="m.closeAllModals()",
      [entity]="c.getCurrentEntity()"
    )
    hi-oauth2-provider-delete-modal(
      *ngIf="m.modals.delete.isOpened()",
      (success)="rProviders.removeOAuth2Provider($event); m.closeAllModals();",
      (cancel)="m.closeAllModals()",
      [entity]="c.getCurrentEntity()"
    )
  .columns
    .column
      h1.title {{ "oauth2-providers.crud.title" | translate }}
  .data-table
    hi-oauth2-providers-data-table([entities]="getRows()")
  hr
  .is-pulled-right
    .control.is-grouped
      p.control
        button.button.button-color-red(type="button", (click)="m.delete()", [disabled]="! c.hasActiveEntity()")
          i.fa.fa-trash-o
          span.text {{ "common.delete" | translate }}
      p.control
        button.button.button-color-blue(type="button", (click)="m.edit()", [disabled]="! c.hasActiveEntity()")
          i.fa.fa-pencil-square-o
          span.text {{ "common.edit" | translate }}
      p.control
        button.button.button-color-green(type="button", (click)="m.create()")
          i.fa.fa-plus-square-o
          span.text {{ "common.add" | translate }}