.component.component-edit-oauth-provider-modal
  form((submit)="submit()")
    .modal
      .modal-background
      .modal-card
        hi-form-progress-lock(*ngIf="status.isLoading()")
        .modal-card-head
          .modal-card-title
            span {{ "oauth2-providers.modal.edit.title" | translate }}
        .modal-card-body
          hi-oauth2-provider-form([(model)]="formModel", [handlers]="getAvailableHandlers()", mode="edit")
        .modal-card-foot
          .columns
            .column
              button.button(type="button", (click)="cancel()")
                span.text {{ "common.cancel" | translate }}
            .column
              button.is-pulled-right.button.is-primary(type="submit", [disabled]="status.isLoading()")
                span.text {{ "common.save-changes" | translate }}