div.component.component-delete-products-package-modal
  form((submit)="submit()")
    .modal
      .modal-background
      .modal-card
        hi-form-progress-lock(*ngIf="status.isLoading()")
        .modal-card-body
          .notification.is-danger
            span Delete product {{ getProductsPackage() }} ?
          br
          p.text Do you really want to delete product {{ getProductsPackage() }} ?
        .modal-card-foot
          .columns
            .column
              button.button(type="button", (click)="cancel()") Cancel
            .column
              button.is-pulled-right.button.is-danger(type="submit", [disabled]="status.isLoading() || isSubmitButtonDisabled()", [ngClass]="{'is-loading': status.isLoading()}")
                span(*ngIf="isSubmitButtonDisabled()") {{ buttonDisabledFor }}
                span.icon.is-small(*ngIf="! isSubmitButtonDisabled()")
                  i.fa-fw.fa.fa-trash
                span(*ngIf="! isSubmitButtonDisabled()") Delete