.component.component-company-data-table
  .results
    table.table.is-bordered.is-striped.is-narrow
      thead
        tr
         th(style="width: 25px") {{ "common.fields.id" | translate }}
         th {{ "company.fields.name" | translate }}
      tbody
        tr(*ngFor="let entity of entities", [ngClass]="{'is-active': cursor.isActive(entity)}", (click)="cursor.select(entity)")
          td {{ entity.id }}
          td {{ entity.name }}