.component.component-event-type-group-form
  form((submit)="submit()")
    .label {{ "URL" }}
      p.control
        input.input(type="url" name="url", pattern="^[a-z_-]+$", [(ngModel)]="model.url")
    .label {{ "event-type-group.fields.title" | translate }}
      p.control
        hi-locale-input([(value)]="model.title")
    .label {{ "event-type-group.fields.description" | translate }}
      p.control
        hi-locale-input([(value)]="model.description")