.route.route-font-crud
  .modals
    hi-font-create-modal(
      *ngIf="m.modals.create.isOpened()",
      (success)="r.add($event); m.closeAllModals();",
      (cancel)="m.closeAllModals()"
    )
    hi-font-delete-modal(
      *ngIf="m.modals.delete.isOpened()",
      (success)="r.remove($event); m.closeAllModals();",
      (cancel)="m.closeAllModals()",
      [entity]="c.getCurrentEntity()"
    )
    hi-font-edit-modal(
      *ngIf="m.modals.edit.isOpened()",
      (success)="r.replace($event); m.closeAllModals();",
      (cancel)="m.closeAllModals()",
      [entity]="c.getCurrentEntity()"
    )
  .columns
    .column
      h1.title {{ "font.crud.title" | translate }}
  .data-table
    hi-font-data-table([entities]="getRows()")
  hr
  .is-pulled-right
    .control.is-grouped
      p.control
        button.button.button-color-red(type="button", (click)="m.delete()", [disabled]="! c.hasActiveEntity()")
          i.fa.fa-trash-o
          span {{ "common.delete" | translate }}
      p.control
        button.button.button-color-blue(type="button", (click)="m.edit()", [disabled]="! c.hasActiveEntity()")
          i.fa.fa-pencil-square-o
          span {{ "common.edit" | translate }}
      p.control
        button.button.button-color-green(type="button", (click)="m.create()")
          i.fa.fa-plus-square-o
          span {{ "common.add" | translate }}