div.component-hi-locale-input()
  div.is-grouped()
    p.control
      select.select.is-expanded([(ngModel)]="chosenCardGamma", (ngModelChange)='changeValue($event)')
        option(*ngFor="let card of card_gammas", [value]='card.entity.id', [selected]="card.entity.id === chosenCardGamma") {{ card.localizedTitle }}