div.component-hi-locale-input()
  div.is-grouped()
    p.control
      select.select.is-expanded([(ngModel)]="chosenCardStyle", (ngModelChange)='changeValue($event)')
        option(*ngFor="let card of card_styles", [value]='card.id', [selected]="card.id === chosenCardStyle") {{ card.localizedTitle }}