.component.component-envelope-color-form
  form
    .label {{ "common.title" | translate }}
    p.control
      hi-locale-input([(value)]="model.title")
    .label {{ "common.description" | translate }}
    p.control
      hi-locale-input([(value)]="model.description")
    .label {{ "common.color" | translate }}
    p.control
      hi-color-picker([(value)]="model.hex_code")