.component-hi-locale-input
  .is-grouped()
    p.control.has-addons
      span.button
        span.flag
          img(src="/admin/app/assets/img/flags/iso-32/{{getFlag()}}.png")
      select.select.is-expanded([(ngModel)]="chosenRegion", (ngModelChange)='changeValue($event)')
        option(*ngFor="let locale of locales", [value]='locale.region', [selected]="locale.region === chosenRegion") {{ locale.region }}