.component.component-envelope-additional-backdrop-datatable
  .results
    table.table.is-bordered.is-striped.is-narrow
      thead
        tr
          th {{ "common.title" | translate }}
          th {{ "common.description" | translate }}
          th {{ "envelope-backdrop.preview.title" | translate }}
          th {{ "envelope-backdrop.resource.title" | translate }}
      tbody
        tr(*ngFor="let entity of entities", [ngClass]="{'is-active': cursor.isActive(entity)}", (click)="cursor.select(entity)")
          td {{ entity.title | localize }}
          td {{ entity.description | localize }}
          td {{ getFileTitle('preview', entity) }}
          td {{ getFileTitle('resource', entity) }}