.component.component-edit-font-modal
  form((submit)="submit()")
    .modal
      .modal-background
      .modal-card
        hi-form-progress-lock(*ngIf="status.isLoading()")
        .modal-card-head
          .modal-card-title
            span {{ "font" | translate }}
        .modal-card-body
          hi-font-form((submit)="submit()", [(model)]="formModel", mode="edit", [preview]='font.entity.preview', [attachments]='font.entity.files')
        .modal-card-foot
          .columns
            .column
              button.button(type="button", (click)="cancel()")
                span.text {{ "common.cancel" | translate }}
            .column
              button.is-pulled-right.button.is-primary(type="submit", [disabled]="canSave()")
                span.text {{ "common.save-changes" | translate }}