.component-font-data-table {
  tbody tr {
    cursor: pointer;
  }

  th.is_activated, td.is_activated {
    i.fa {
      font-size: 16px;
    }
  }

  td {
    text-align: center;
    vertical-align: middle;
  }

  img.preview {
    max-height: 70px;
  }
}