.component.component-font-data-table
  .results
    input.input.is-expanded([(ngModel)]="searchStr")
    table.table.is-bordered.is-striped.is-narrow
      thead
        tr
          th(style="width: 25px") {{ "common.fields.id" | translate }}
          th(style="width: 200px") {{ "common.title" | translate }}
          th {{ "common.fields.preview" | translate }}
      tbody
        tr(*ngFor="let font of entities | filter:searchStr", [ngClass]="{'is-active': cursor.isActive(font)}", (click)="cursor.select(font)")
          td {{ font.entity.id }}
          td {{ font.entity.title }}
          td
            img.preview([src]="getPreview(font)")