.component-font-form
	form
		div.is-pulled-right
			.label {{ "font.form.supports.font_normal" | translate }}
			input.checkbox(type='checkbox', [checked]='isNormal()', (click)='toggleNormal()')
		div.is-pulled-right
			.label {{ "font.form.supports.font_bold" | translate }}
			input.checkbox(type='checkbox', [checked]='isBold()', (click)='toggleBold()')
		div.is-pulled-right
			.label {{ "font.form.supports.font_italic" | translate }}
			input.checkbox(type='checkbox', [checked]='isItalic()', (click)='toggleItalic()')
		div.is-pulled-right
			.label {{ "font.form.supports.font_bold_italic" | translate }}
			input.checkbox(type='checkbox', [checked]='isBoldItalic()', (click)='toggleBoldItalic()')
		p.control
		.label {{ "common.title" | translate }}
		p.control
			input.input([(ngModel)]="model.title", name='title')
		.label {{ 'font.form.font-face' | translate }}
		p.control
			textarea.textarea.is-expanded([(ngModel)]='model.font_face', name='font_face')
		.label {{ "common.attachments" | translate }}
		p.control
			hi-attachment-instant-input([(value)]='attachments', (on-upload-complete)='attachAttachment($event)', [allow_multiple]='true', (on-delete-attachment)='deleteAttachment($event)', (on-delete-value)='deleteAttachments()')
		.label {{ "common.preview" | translate }}
		p.control
			hi-attachment-image-instant-input([(value)]='preview', (on-upload-complete)='attachPreview($event)')