.component.component-product-datatable
  .results
    table.table.is-bordered.is-striped.is-narrow
      thead
        tr
          th(style="max-width: 10px") {{ "common.fields.id" | translate }}
          th(style="max-width: 100px") {{ "common.title" | translate }}
          th(style="max-width: 160px") {{ "common.description" | translate }}
          th(style="max-width: 90px") {{ "products-package.base_price" | translate }}
          th(style="max-width: 50px") {{ "products-package.is_activated" | translate }}
      tbody
        tr(*ngFor="let entity of entities", [ngClass]="{'is-active': cursor.isActive(entity)}", (click)="cursor.select(entity)")
          td {{ entity.id }}
          td {{ t.localize(entity.title) }}
          td {{ t.localize(entity.description) }}
          td {{ entity.base_price.amount + entity.base_price.currency.sign }}
          td
            i.fa.fa-check(*ngIf='entity.is_activated')
            i.fa.fa-times(*ngIf='! entity.is_activated')