.component-envelope-additional-texture-form
  form
    .label {{ "common.title" | translate }}
    input([ngStyle]='{"display": "none"}', type='file', id="previewFile", (change)="onFilePreviewChange($event)", accept="image/*")
    label.is-pulled-left(for="previewFile")
     .button.is-info {{ "envelope-texture.input.file.preview" | translate }}
    .control.is-pulled-left(*ngIf='!! model.files.preview || !! model.uploaded.preview')
      span {{ getFileTitle('preview') }}
        i.fa.fa-times.is-pulled-right((click)='deleteFile("preview")')