.markdown-it-content {
  @import "../../../../../node_modules/markdown-css-themes/markdown";
  @import "../../../../../node_modules/markdown-css-themes/markdown7";

  i {
    font-style: italic;
  }  
}