.component.component-view-designer-requests-modal
  form
    .modal
      .modal-background
      .modal-card
        hi-form-progress-lock(*ngIf="status.isLoading()")
        .modal-card-head
          .modal-card-title
            span {{ "designer-request.modal.view.title" | translate }}
        .modal-card-body
            p.control.has-addons
              button
                span {{ "common.fields.id" | translate }}
              input.input(type="text", required, [disabled]='true', name="id", [(ngModel)]="designer_request.id")
            p.control.has-addons
              button
                span {{ "common.fields.sid" | translate }}
              input.input(type="text", required, [disabled]='true', name="SID", [(ngModel)]="designer_request.sid")
            p.control.has-addons
              button
                span {{ "common.fields.date_created_at" | translate }}
              input.input(type="text", required, [disabled]='true', name="date_created_at", [(ngModel)]="designer_request.date_created_at")
            p.control.has-addons
              button
                span {{ "common.fields.last_updated_on" | translate }}
              input.input(type="text", required, [disabled]='true', name="last_updated_on", [(ngModel)]="designer_request.last_updated_on")
            p.control.has-addons
              button
                span {{ "designer-request.date-reviewed" | translate }}
              input.input(type="text", required, [disabled]='true', name="date_reviewed", [(ngModel)]="designer_request.date_reviewed")
            hr
            hr
            hr
            p.control.has-addons
              button
                span {{ "designer-request.first_name" | translate }}
              input.input(type="text", required, [disabled]='true', name="first_name", [(ngModel)]="designer_request.form.first_name")
            p.control.has-addons
              button
                span {{ "designer-request.last_name" | translate }}
              input.input(type="text", required, [disabled]='true', name="last_name", [(ngModel)]="designer_request.form.last_name")
            p.control.has-addons
              button
                span {{ "designer-request.email" | translate }}
            input.input(type="text", required, [disabled]='true', name="email", [(ngModel)]="designer_request.form.email")
            p.control.has-addons
              button
                span {{ "designer-request.phone" | translate }}
              input.input(type="text", required, [disabled]='true', name="phone", [(ngModel)]="designer_request.form.phone")
            p.control.has-addons
              button
                span {{ "designer-request.link_portfolio" | translate }}
              input.input(type="text", required, [disabled]='true', name="link_portfolio", [(ngModel)]="designer_request.form.link_portfolio")
            p.control.has-addons
              button
                span {{ "designer-request.description" | translate }}
              textarea.textarea(type="text", required, [disabled]='true', name="description", [(ngModel)]="designer_request.form.link_portfolio")
            p.control.has-addons
              button
                span {{ "designer-request.are_terms_accepted" | translate }}
              input.input(type="text", required, [disabled]='true', name="link_portfolio", [(ngModel)]="designer_request.form.are_terms_accepted")
        .modal-card-foot
          .columns
            .column
              button.button(type="button", (click)="cancel()")
                span.text {{ "common.cancel" | translate }}
            .column
              button.is-pulled-right.button.is-danger(
                type="button",
                [disabled]="isReviewed()",
                (click)="decline()",
                [ngClass]="{'is-loading': status.isLoading()}"
              )
                span.text {{ "designer-request.action.decline" | translate }}
            .column
              button.is-pulled-right.button.is-success(
                type="button",
                [disabled]="isReviewed()",
                (click)="accept()"
                [ngClass] = "{'is-loading': status.isLoading()}"
              )
                span.text {{ "designer-request.action.accept" | translate }}