@import "./../../../../styles/tools";

@mixin zDepth($level) {
  div.hi-modal {
    z-index: 9000 + 4*$level;
  }

  div.hi-modal-backdrop {
    z-index: 9001 + 4*$level;
  }

  div.hi-modal-flex-container {
    z-index: 9002 + 4*$level;
  }

  div.hi-modal-content {
    z-index: 9003 + 4*$level;
  }
}

div.component-hi-modal-light {

  div.hi-modal-backdrop {
    background-color: #f0f0f0;
    opacity: 0.8;
  }
}

div.component-hi-modal-dark {
  div.hi-modal-backdrop {
    background-color: #333;
    opacity: 0.8;
  }
}

div.hi-modal {
  @include mobile {
    div.hi-modal-backdrop {
      display: none;
    }

    div.hi-modal-flex-container {
      position: fixed;
      top: 0;
      height: 100%;
      left: 0;
      width: 100%;
      background-color: white;

      div.hi-modal-content {
        display: flex;
        position: absolute;
        top: 0;
        height: 100%;
        left: 0;
        width: 100%;
        justify-content: center;
        align-items: center;
        overflow: auto;
      }
    }
  }

  @include tablet {
    div.hi-modal-backdrop {
      display: block;
      position: fixed;
      top: 0;
      height: 100%;
      left: 0;
      width: 100%;

    }

    div.hi-modal-flex-container {
      display: flex;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      align-items: stretch;
      justify-content: center;
      overflow: auto;

      div.hi-modal-content {
      }
    }
  }
}

/* Don't look at this shit. */

div.component-hi-modal {
  @include zDepth(1);

  div.hi-modal {
    @include zDepth(2);

    div.hi-modal {
      @include zDepth(3);

      div.hi-modal {
        @include zDepth(4);

        div.hi-modal {
          @include zDepth(5);

          div.hi-modal {
            @include zDepth(6);

            div.hi-modal {
              @include zDepth(7);

              /* We don't need to go deeper. */
            }
          }
        }
      }
    }
  }
}