.component.component-hi-modal(class="component-hi-modal-{{style}}")
  .hi-modal.modal
    .hi-modal-flex-container
      .hi-modal-backdrop((click)="outClick()")
      .hi-modal-content
        ng-content