.component-envelope-additional-backdrop-form
  form
    .label {{ "common.title" | translate }}
    p.control
      hi-locale-input([(value)]="model.title")
    .label {{ "common.description" | translate }}
    p.control
      hi-locale-input([(value)]="model.description")
    .label {{ "envelope-backdrop.files.attachment" | translate }}
      hi-attachment-image-instant-input([(value)]="model.uploaded.attachment", (on-upload-complete)='attachAttachment($event)')