.route.route-event-type-gateway
  .columns
    .column
      h1.title {{ "event-type.crud.title" | translate }}
  .center
    .control.has-addons
      div(*ngFor='let group of getGroups()')
        a.button(
          type="button",
          title="{{ group.localizedDescription }}",
          [routerLink]="['/admin/protected/catalogs/event_type/', group.id]",
          routerLinkActive="is-active is-primary"
        )
          span {{ group.title | localize }}
  .results
    router-outlet