.component.component-create-envelope-color-modal
  form((submit)="submit()")
    .modal
      .modal-background
      .modal-card
        hi-form-progress-lock(*ngIf="status.isLoading()")
        .modal-card-head
          .modal-card-title
            span {{ "envelope-color.modal.create.title" | translate }}
        .modal-card-body
          hi-envelope-color-form(mode="create", [(model)]="formModel")
        .modal-card-foot
          .columns
            .column
              button.button(type="button", (click)="cancel()")
                span.text {{ "common.cancel" | translate }}
            .column
              button.is-pulled-right.button.is-primary(
                type="submit",
                [disabled]="! checkRequiredFields()"
              )
                span.text {{ "common.modal.create.submit" | translate }}