.component.component-event-type-group-datatable
  .results
    table.table.is-bordered.is-striped.is-narrow
      thead
        tr
          th(style="max-width: 25px") {{ "common.fields.id" | translate }}
          th(style="max-width: 200px") {{ "common.title" | translate }}
          th(style="max-width: 200px") {{ "common.description" | translate }}
          th(style="max-width: 140px") {{ "common.date_created_at" | translate }}
          th(style="max-width: 140px") {{ "common.last_updated_on" | translate }}
          th(style="max-width: 30px") {{ "common.color" | translate }}
          th(style="max-width: 90px") {{ "products-package.base_price" | translate }}
          th(style="max-width: 50px") {{ "products-package.is_activated" | translate }}
      tbody
        tr(*ngFor="let entity of entities", [ngClass]="{'is-active': cursor.isActive(entity)}", (click)="cursor.select(entity)")
          td {{ entity.id }}
          td {{ t.localize(entity.title) }}
          td {{ t.localize(entity.description) }}
          td {{ entity.date_created_at }}
          td {{ entity.last_updated_on }}
          td
            div([ngStyle]="{'width': '25px', 'height': '25px', 'background-color': entity.palette.background.hexCode, 'display': 'inline-block', 'border': '1px solid #000'}")
          td {{ entity.base_price.amount + entity.base_price.currency.sign }}
          td
            i.fa.fa-check(*ngIf='entity.is_activated')
            i.fa.fa-times(*ngIf='! entity.is_activated')