.component-envelope-additional-backdrop-form
  form
    .label {{ "common.title" | translate }}
    p.control
      hi-locale-input([(value)]="model.title")
    .label {{ "common.description" | translate }}
    p.control
      hi-locale-input([(value)]="model.description")
    .label {{ "envelope-backdrop.files.resource" | translate }}
    .control(*ngIf='!! model.files.resource || !! model.uploaded.resource')
      .is-pulled-left {{ getFileTitle('resource') }}
        i.fa.fa-times.is-pulled-right((click)='deleteFile("resource")')
    input.button.is-pulled-left(type='file', (change)="onFileAttachmentChange($event)", accept="image/*")
    .label {{ "envelope-backdrop.files.preview" | translate }}
    .control(*ngIf='!! model.files.preview || !! model.uploaded.preview')
      .is-pulled-left {{ getFileTitle('preview') }}
        i.fa.fa-times.is-pulled-right((click)='deleteFile("preview")')
    input.button.is-pulled-left(type='file', (change)="onFilePreviewChange($event)", accept="image/*")