.component.component-locale-form
  form((submit)="submit()")
    .label {{ "locale.fields.language" | translate }}
    p.control
      input.input(
        type="text",
        required,
        maxlength="5",
        placeholder="{{ 'locale.form.language.placeholder' | translate }}",
        name="language",
        [(ngModel)]="model.language",
      )
    .label {{ "locale.fields.region" | translate }}
    p.control
      input.input(
        type="text",
        required,
        maxlength="5",
        placeholder="{{ 'locale.form.region.placeholder' | translate }}",
        name="region",
        [(ngModel)]="model.region"
      )