@import "./../../../../../styles/tools.scss";

.component-common-modal-box {
  div.hi-modal-box {
    background-color: #fff;

    @include mobile {
      position: absolute;
      top: 0; height: 100%;
      left: 0; width: 100%!important;
    }

    @include tablet {
      @include card(2);
      border-radius: 3px;
    }
  }
}