.component.component-oauth2-providers-datatable
  .results
    table.table.is-bordered.is-striped.is-narrow
      thead
        tr
          th(style="width: 25px")
            span {{ "common.fields.id" | translate }}
          th(style="width: 100px")
            span {{ "oauth2-providers.fields.code" | translate }}
          th
            span {{ "oauth2-providers.fields.handler" | translate }}
      tbody
        tr(*ngFor="let entity of entities", [ngClass]="{'is-active': cursor.isActive(entity)}", (click)="cursor.select(entity)")
          td {{ entity.id }}
          td {{ entity.code }}
          td {{ entity.handler }}