.component.component-upload-image-modal
  form
    .modal
      .modal-background
      .modal-card
        .modal-card-head
        .modal-card-body
          input(type="file", id="uploadModalImageFile", *ngIf="screen.isOn('File')", (change)="onFileChange($event)")
          .form.stage-crop(*ngIf="screen.isOn('Crop')")
            .image-editor.form
              .image
                hi-image-cropper
        .modal-card-foot
          footer.form-footer
            .form-footer-section
              button.form-text-button(type="button", (click)="close()")
                span Отмена
            .form-footer-section
              button.form-button.form-button-green(*ngIf="screen.isOn('Crop')", type="button", (click)="process()")
                span Загрузить картинку