.component.component-designer-requests-datatable
  .results
    table.table.is-bordered.is-striped.is-narrow
      thead
        tr
          th(style="maxWidth: 160px") {{ "designer-request.first_name" | translate }}
          th(style="maxWidth: 160px") {{ "designer-request.last_name" | translate }}
          th(style="maxWidth: 160px") {{ "designer-request.email" | translate }}
          th(style="maxWidth: 160px") {{ "designer-request.phone" | translate }}
          th(style="maxWidth: 80px") {{ "designer-request.are_terms_accepted" | translate }}
          th(style="maxWidth: 80px") {{ "designer-request.is_reviewed" | translate }}
          th(style="maxWidth: 80px") {{ "designer-request.is_accepted" | translate }}
      tbody
        tr(*ngFor="let entity of entities", [ngClass]="{'is-active': cursor.isActive(entity)}", (click)="cursor.select(entity)")
          td {{ entity.form.first_name }}
          td {{ entity.form.last_name }}
          td {{ entity.form.email }}
          td {{ entity.form.phone }}
          td {{ entity.is_accepted }}
          td {{ entity.is_reviewed }}
          td {{ entity.is_accepted }}