.component.component-currency-datatable
  .results
    table.table.is-bordered.is-striped.is-narrow
      thead
        tr
          th(style="width: 25px") {{ "common.fields.id" | translate }}
          th(style="width: 100px") {{ "currency.fields.code" | translate }}
          th(style="width: 100px") {{ "currency.fields.sign" | translate }}
          th {{ "currency.fields.title" | translate }}
      tbody
        tr(*ngFor="let entity of entities", [ngClass]="{'is-active': cursor.isActive(entity)}", (click)="cursor.select(entity)")
          td {{ entity.id }}
          td {{ entity.code }}
          td {{ entity.sign }}
          td {{ entity.title | localize }}