.component.component-envelope-marks-form
  form
    .label {{ "common.title" | translate }}
    p.control
      hi-locale-input([(value)]="model.title")
    .label {{ "common.description" | translate }}
    p.control
      hi-locale-input([(value)]="model.description")
    p.control
      hi-envelope-additional-marks-data-table([entities]="model.definitions")
      button.is-pulled-right.button(type="button", (click)="m.modals.additionalCreate.open()") Add
      button.is-pulled-right.button(type="button", (click)="m.modals.additionalEdit.open()", [disabled]="! cursor.has()") Edit
      button.is-pulled-right.button(type="button", (click)="m.modals.additionalDelete.open()", [disabled]="! cursor.has()") Remove