.component.component-sign-in
  form((submit)="submit()")
    .modal
      .modal-background
      .modal-card
        hi-form-progress-lock(*ngIf="status.isLoading()")
        .modal-card-head
          .modal-card-title
            span {{ "auth.sign-in.modal.title" | translate }}
        .modal-card-body
          label.label {{ "common.email" | translate }}
          p.control.has-icon.has-icon-right
            input.input(#emailInput, type="email", placeholder="Email", name="email", [(ngModel)]="model.email")
            i.fa.fa-envelope-o
          label.label {{ "common.password" | translate }}
          p.control.has-icon.has-icon-right
            input.input(#passwordInput, type="password", placeholder="Password", name="password", [(ngModel)]="model.password")
            i.fa.fa-user-secret
        .modal-card-foot
          button.is-pulled-right.button.is-primary(type="submit", [disabled]="status.isLoading()", [ngClass]="{'is-loading': status.isLoading()}")
            span.text {{ "auth.sign-in.modal.submit" | translate }}