.component.component-event-type-form
  form
    .label {{ "URL" }}
      p.control
        input.input(type="url" name="url", pattern="^[a-z_-]+$", [(ngModel)]="model.url")
    .label {{ "event-type.fields.title" | translate }}
    p.control
      hi-locale-input([(value)]="model.title")
    .label {{ "event-type.fields.description" | translate }}
      p.control
        hi-locale-input([(value)]="model.description")