.component.component-create-event-type-modal
  form((submit)="submit()")
    .modal
      .modal-background
      .modal-card
        hi-form-progress-lock(*ngIf="status.isLoading()")
        .modal-card-head
          .modal-card-title
            span {{ "event-type.modal.create.title" | translate }}
        .modal-card-body
          hi-event-type-form(mode="create", [(model)]="formModel")
        .modal-card-foot
          .columns
            .column
              button.button(type="button", (click)="cancel()")
                span.text {{ "common.cancel" | translate }}
            .column
              button.is-pulled-right.button.is-primary(
                type="submit",
                [disabled]="status.isLoading()"
              )
                span.text {{ "common.create" | translate }}