.component.component-company-form
  form
    .label {{ "company.fields.name" | translate }}
    p.control
      input.input(
        type="text",
        required,
        placeholder="{{ 'company.form.name.placeholder' | translate }}",
        name="code",
        [(ngModel)]="model.name"
      )