.component.component-delete-oauth-provider-modal
  form((submit)="submit()")
    .modal
      .modal-background
      .modal-card
        hi-form-progress-lock(*ngIf="status.isLoading()")
        .modal-card-body
          .notification.is-danger
            span {{ entity.handler }} ?
          br
          p.text {{ "oauth2-providers.modals.delete.text" | translate }}
        .modal-card-foot
          .columns
            .column
              button.button(type="button", (click)="cancel()")
                span.text {{ "common.cancel" | translate }}
            .column
              button.is-pulled-right.button.is-danger(type="submit", [disabled]="status.isLoading() || isSubmitButtonDisabled()")
                span(*ngIf="isSubmitButtonDisabled()") {{ buttonDisabledFor }}
                span.icon.is-small(*ngIf="! isSubmitButtonDisabled()")
                  i.fa-fw.fa.fa-trash
                span(*ngIf="! isSubmitButtonDisabled()") {{ "common.delete" | translate }}