.component.component-edit-envelope-pattern-modal
  form((submit)="submit($event)")
    .modal
      .modal-background
      .modal-card
        hi-form-progress-lock(*ngIf="status.isLoading()")
        .modal-card-head
          .modal-card-title
            span {{ "envelope_marks.title" | localize }}
        .modal-card-body
          hi-envelope-pattern-form(#envelopePatternForm, [(model)]="formModel", mode="edit")
        .modal-card-foot
          .columns
            .column
              button.button(type="button", (click)="cancel()")
                span.text {{ "common.cancel" | translate }}
            .column
              button.is-pulled-right.button.is-primary(
                type="submit",
                [disabled]="! isSubmitButtonActive()",
              )
                span.text {{ "common.save-changes" | translate }}