.component.component-ui-sidebar
  aside.menu
    hi-locale-selector((changeLocaleRegion)='changeCurrentLocale($event)')
    p.menu-label {{ 'sidebar.item.catalogs.title' | translate }}
    ul.menu-list
      li
        a([routerLink]="['/admin/protected/catalogs/locales']", routerLinkActive="is-active")
          span {{ 'sidebar.item.locale.title' | translate }}
      li
        a([routerLink]="['/admin/protected/catalogs/currencies']", routerLinkActive="is-active")
          span {{ 'sidebar.item.currency.title' | translate }}
      li
        a([routerLink]="['/admin/protected/catalogs/companies']", routerLinkActive="is-active")
          span {{ 'sidebar.item.companies.title' | translate }}
      li
        a([routerLink]="['/admin/protected/catalogs/event_type_group']", routerLinkActive = "is-active")
          span {{ 'sidebar.item.event_type_group.title' | translate }}
      li
        a([routerLink]="['/admin/protected/catalogs/event_type']", routerLinkActive = "is-active")
          span {{ 'sidebar.item.event_type.title' | translate }}
      li
        a([routerLink]="['/admin/protected/catalogs/fonts']", routerLinkActive = "is-active")
          span {{ 'sidebar.item.font.title' | translate }}
      li
        a([routerLink]="['/admin/protected/catalogs/dress_codes']", routerLinkActive = "is-active")
          span {{ 'sidebar.item.dress_codes.title' | translate }}
    p.menu-label {{ 'sidebar.item.designer.title' | translate }}
    ul.menu-list
      li
        a([routerLink]="['/admin/protected/designers/requests']", routerLinkActive = "is-active")
          span {{ 'sidebar.item.designer_request.title' | translate }}
    p.menu-label {{ 'sidebar.item.invite_cards.title' | translate }}
    ul.menu-list
      li
        a([routerLink]="['/admin/protected/invites/styles']", routerLinkActive = "is-active")
          span {{ 'sidebar.item.invite_card_style.title' | translate }}
      li
        a([routerLink]="['/admin/protected/invites/sizes']", routerLinkActive = "is-active")
          span {{ 'sidebar.item.invite_card_size.title' | translate }}
      li
        a([routerLink]="['/admin/protected/invites/gammas']", routerLinkActive = "is-active")
          span {{ 'sidebar.item.invite_card_gamma.title' | translate }}
    p.menu-label {{ 'sidebar.item.envelope.title' | translate }}
    ul.menu-list
      li
        a([routerLink]="['/admin/protected/envelope/texture']", routerLinkActive = "is-active")
          span {{ 'sidebar.item.envelope.texture.title' | translate }}
      li
        a([routerLink]="['/admin/protected/envelope/marks']", routerLinkActive = "is-active")
          span {{ 'sidebar.item.envelope.marks.title' | translate }}
      li
        a([routerLink]="['/admin/protected/envelope/color']", routerLinkActive = "is-active")
          span {{ 'sidebar.item.envelope.color.title' | translate }}
      li
        a([routerLink]="['/admin/protected/envelope/backdrop']", routerLinkActive = "is-active")
          span {{ 'sidebar.item.envelope.backdrop.title' | translate }}
      li
        a([routerLink]="['/admin/protected/envelope/pattern']", routerLinkActive = "is-active")
          span {{ 'sidebar.item.envelope.pattern.title' | translate }}
    p.menu-label {{ 'sidebar.item.services.title' | translate }}
    ul.menu-list
      li
        a([routerLink]="['/admin/protected/services/products']", routerLinkActive = "is-active")
          span {{ 'sidebar.item.products.title' | translate }}
      li
        a([routerLink]="['/admin/protected/services/packages']", routerLinkActive = "is-active")
          span {{ 'sidebar.item.packages.title' | translate }}
    p.menu-label {{ 'sidebar.item.integrations.title' | translate }}
    ul.menu-list
      li
        a([routerLink]="['/admin/protected/integrations/oauth2-providers']", routerLinkActive = "is-active")
          span {{ 'sidebar.item.oauth2_providers.title' | translate }}
    p.menu-label {{ 'sidebar.item.account.title' | translate }}
    ul.menu-list
      li
        a([routerLink]="['/admin/protected/c/sign-out']", (click)="signOut($event)")
          span {{ 'sidebar.item.sign_out.title' | translate }}