.component.component-envelope-color-datatable
  .results
    table.table.is-bordered.is-striped.is-narrow
      thead
        tr
          th(style="width: 25px") {{ "common.fields.position" | translate }}
          th(style="width: 25px") {{ "common.fields.id" | translate }}
          th(style="width: 200px") {{ "common.title" | translate }}
          th {{ "common.description" | translate }}
          th(style="width: 50px") {{ "common.color" | translate }}
      tbody
        tr(*ngFor="let entity of entities", [ngClass]="{'is-active': cursor.isActive(entity)}", (click)="cursor.select(entity)")
          td {{ entity.position }}
          td {{ entity.id }}
          td {{ entity.title | localize }}
          td {{ entity.description | localize }}
          td
            div([ngStyle]="{'width': '25px', 'height': '25px', 'background-color': entity.hex_code, 'display': 'inline-block', 'border': '1px solid #000'}")