.component.component-invite-card-size-form
  form
    label.label {{ "size.fields.width" | translate }}
    p.control
      input.input(type="text", required, maxlength="5", placeholder="(10 ...)", name="width", [(ngModel)]="model.width")
    label.label {{ "size.fields.height" | translate }}
    p.control
      input.input(type="text", required, maxlength="5", placeholder="(10 ...)", name="height", [(ngModel)]="model.height")
    label.label {{ "common.title" | translate }}
    p.control
      hi-locale-input([(value)]="model.title")
    label.label {{ "common.description" | translate }}
    p.control
      hi-locale-input([(value)]="model.description")