div.component.component-create-invite-card-size-modal
  form((submit)="submit()")
    .modal
      .modal-background
      .modal-card
        hi-form-progress-lock(*ngIf="status.isLoading()")
        .modal-card-head
          .modal-card-title
            span {{ "invite-card.size.create" | translate }}
        .modal-card-body
          hi-invite-card-size-form((submit)="submit()", [(model)] = "formModel", mode = "create")
        .modal-card-foot
          .columns
            .column
              button.button(type="button", (click)="cancel()") Cancel
            .column
              button.is-pulled-right.button.is-primary(type="submit", [disabled]="status.isLoading() && checkRequiredFields()", [ngClass]="{'is-loading': status.isLoading()}") Create