.component.component-event-type-group-datatable
  .results
    table.table.is-bordered.is-striped.is-narrow
      thead
        tr
          th(style="width: 25px") {{ "common.fields.id" | translate }}
          th(style="width: 100px") {{ "locale.fields.language" | translate }}
          th {{ "locale.fields.region" | translate }}
      tbody
        tr(*ngFor="let entity of entities", [ngClass]="{'is-active': cursor.isActive(entity)}", (click)="cursor.select(entity)")
          td {{ entity.id }}
          td {{ entity.language }}
          td {{ entity.region }}