.component.component-auth-modals
  div(*ngIf="service.signInModal.isOpened()")
    hi-auth-sign-in(
      (close)="service.closeAllModals()",
      (success)="navigateProtected()",
    )
  div(*ngIf="service.signOutModal.isOpened()")
    hi-auth-sign-out(
      (close)="service.closeAllModals()",
      (success)="navigateAuth()",
    )