.component.component-color-picker
  .media
    .media-left
      .image.is-32x32.color-preview([style.background]="value")
    .media-content
      input.input.color-picker.color-picker-model([(colorPicker)]="value", [(value)]="value")