div.route.route-products-package-crud
    .modals
        hi-products-package-create-modal(
        *ngIf="m.modals.create.isOpened()",
        (success)="r.addETG($event); m.closeAllModals();",
        (cancel)="m.closeAllModals()",
        [repository]="getAdditionalRepository()")
        hi-products-package-delete-modal(
        *ngIf="m.modals.delete.isOpened()",
        (success)="r.removeETG($event); m.closeAllModals();",
        (cancel)="m.closeAllModals()",
        [products-package]="c.getCurrentEntity()")
        hi-products-package-edit-modal(
        *ngIf="m.modals.edit.isOpened()",
        (success)="r.replaceETG($event.id, $event); m.closeAllModals();",
        (cancel)="m.closeAllModals()",
        [products-package]="c.getCurrentEntity()",
        [repository]="getAdditionalRepository()")
        hi-set-products-modal(
        *ngIf="m.modals.set.isOpened()",
        (success)="m.closeAllModals();",
        (cancel)="m.closeAllModals();",
        [products-package]="c.getCurrentEntity()")
        .columns
            .column
                h1.title {{ 'sidebar.item.packages.title' | translate }}
            .column
                p.has-text-right
                    hi-help-modal([md-content]="help")

    hi-products-package-table(#data, [entities]="getRows()")
    hr
    .is-pulled-right
        .control.is-grouped
            p.control
                button.button.is-primary(type="submit", (click)="m.set()", [disabled]="! c.hasActiveEntity()")
                    span {{ "common.set" | translate }}
            p.control
                button.button.button-color-red(type="button", (click)="m.delete()", [disabled]="! c.hasActiveEntity()")
                    span.icon.is-small
                        i.fa.fa-trash-o
                    span {{ "common.delete" | translate }}
            p.control
                button.button.button-color-yellow(type="button", (click)="m.edit()", [disabled]="! c.hasActiveEntity()")
                    span.icon.is-small
                        i.fa.fa-trash-o
                    span {{ "common.edit" | translate }}
            p.control
                button.button.button-color-green(type="button", (click)="m.create()", [disabled]="l.isLoading()")
                    span.icon.is-small
                        i.fa.fa-plus-square-o
                    span {{ "common.add" | translate }}