.component.component-edit-dress_code-modal
  form((submit)="submit()")
    .modal
      .modal-background
      .modal-card
        hi-form-progress-lock(*ngIf="status.isLoading()")
        .modal-card-head
          .modal-card-title
            span {{ "edit_dress_code" | translate }}
        .modal-card-body
          hi-dress-code-form((submit)="submit()", [(model)]="formModel", mode="edit", [preview]='dress_code.image')
        .modal-card-foot
          .columns
            .column
              button.button(type="button", (click)="cancel()")
                span.text {{ "common.cancel" | translate }}
            .column
              button.is-pulled-right.button.is-primary(type="submit", [disabled]="status.isLoading()")
                span.text {{ "common.save-changes" | translate }}