.component.component-envelope-additional-texture-datatable
  .results
    table.table.is-bordered.is-striped.is-narrow
      thead
        tr
          th {{ "envelope-texture.preview.title" | translate }}
      tbody
        tr(*ngFor="let entity of entities", [ngClass]="{'is-active': cursor.isActive(entity)}", (click)="cursor.select(entity)")
          td {{ getFileTitle('preview', entity) }}