.component.component-edit-event-type-modal
  form((submit)="submit()")
    .modal
      .modal-background
      .modal-card
        hi-form-progress-lock(*ngIf="status.isLoading()")
        .modal-card-head
          .modal-card-title
            span {{ event_type.title | localize }}
        .modal-card-body
          hi-event-type-form([(model)]="formModel", mode="edit")
        .modal-card-foot
          .columns
            .column
              button.button(type="button", (click)="cancel()")
                span.text {{ "common.cancel" | translate }}
            .column
              button.is-pulled-right.button.is-primary(
                type="submit",
                [disabled]="status.isLoading()",
              )
                span.text {{ "common.save-changes" | translate }}