.component.component-envelope-texture-form
  form
    .label {{ "common.title" | translate }}
    p.control
      hi-locale-input([(value)]="model.title")
    .label {{ "common.description" | translate }}
    p.control
      hi-locale-input([(value)]="model.description")
    .label {{ "envelope-texture.definitions.title" | translate }}
    p.control
      hi-envelope-additional-texture-data-table(#data, [entities]="model.definitions")
      button.is-pulled-right.button(type="button", (click)="m.modals.additionalCreate.open()") {{ "common.add" | translate }}
      button.is-pulled-right.button(type="button", (click)="m.modals.additionalEdit.open()", [disabled]="! cursor.has()") {{ "common.edit" | translate }}
      button.is-pulled-right.button(type="button", (click)="m.modals.additionalDelete.open()", [disabled]="! cursor.has()") {{ "common.remove" | translate }}
    p.control
      hi-envelope-additional-texture-form([(model)]="model.previewModel")