.component.component-event-type-datatable
  .results
    table.table.is-bordered.is-striped.is-narrow
      thead
        tr
          th(style="width: 25px") {{ "common.fields.position" | translate }}
          th(style="width: 25px") {{ "common.fields.id" | translate }}
          th(style="max-width: 200px") {{ "event-type.fields.title" | translate }}
          th(style="max-width: 200px") {{ "event-type.fields.description" | translate }}
      tbody
        tr(*ngFor="let entity of entities", [ngClass]="{'is-active': cursor.isActive(entity)}", (click)="cursor.select(entity)")
          td {{ entity.position }}
          td {{ entity.id }}
          td {{ entity.title | localize }}
          td {{ entity.description | localize }}