div.component.component-create-products-package-modal
  form((submit)="submit()")
    .modal
      .modal-background
      .modal-card
        hi-form-progress-lock(*ngIf="l.isLoading()")
        .modal-card-head
          .modal-card-title
            span Set products in package
        .modal-card-body
          span Added products
          hi-product-table(#data, [entities]="getAddedProducts()")
          button.is-pulled-right.button(type="button", [disabled]="! removeButtonActive()", (click)="removeProduct()") Remove
          span Not added products
          hi-product-table(#data, [entities]="getNotAddedProducts()")
          button.is-pulled-right.button.is-primary(type="button", [disabled]="! addButtonActive()", (click)="addProduct()") Add
        .modal-card-foot
          .columns
            .column
              button.button(type="button", (click)="cancel()") Cancel
            .column
              button.is-pulled-right.button.is-primary(type="submit", [disabled]="l.isLoading() && checkChanges()", [ngClass]="{'is-loading': l.isLoading()}") {{ 'common.confirm' | translate }}