div.component-hi-locale-input()
  div.is-grouped()
    p.control
      select.select.is-expanded([(ngModel)]="chosenCardSize", (ngModelChange)='changeValue($event)')
        option(*ngFor="let card of card_sizes", [value]='card.id', [selected]="card.id === chosenCardSize") {{ card.localizedTitle }}