.route.route-event-type-crud
  .modals
    hi-event-type-create-modal(
      *ngIf="m.modals.create.isOpened()",
      (success)="r.addET($event); m.closeAllModals();",
      (cancel)="m.closeAllModals()",
      [event_type_group_id]="currentGroupId"
    )
    hi-event-type-delete-modal(
      *ngIf="m.modals.delete.isOpened()",
      (success)="r.removeET($event); m.closeAllModals();",
      (cancel)="m.closeAllModals()",
      [event_type]="c.getCurrentEntity()"
    )
    hi-event-type-edit-modal(
      *ngIf="m.modals.edit.isOpened()", (success)="r.replaceET($event); m.closeAllModals();",
      (cancel)="m.closeAllModals()",
      [event_type]="c.getCurrentEntity()",
      [event_type_group_id]='currentGroupId'
    )
  .data-table
    hi-event-type-data-table([entities]="getRows()")
  hr
  .is-pulled-right
    .control.is-grouped
      p.control
        button.button(type="button", (click)="p.down()", [disabled] = "! p.canMoveDown()")
          i.fa.fa-arrow-circle-down
      p.control
        button.button(type="button", (click)="p.up()", [disabled] = "! p.canMoveUp()")
          i.fa.fa-arrow-circle-up
      p.control
        button.button.button-color-red(type="button", (click)="m.delete()", [disabled]="! c.hasActiveEntity()")
          i.fa.fa-trash-o
          span {{ "common.delete" | translate }}
      p.control
        button.button.button-color-blue(type="button", (click)="m.edit()", [disabled] = "! c.hasActiveEntity()")
          i.fa.fa-pencil-square-o
          span {{ "common.edit" | translate }}
      p.control
        button.button.button-color-green(type="button", (click)="m.create()")
          i.fa.fa-plus-square-o
          span {{ "common.add" | translate }}