.component.component-currency-form
  form
    .label {{ "currency.code" | translate }}
    p.control
      input.input(
        type="text",
        required, maxlength="5",
        placeholder="{{ 'currency.form.code.placeholder' | translate }}",
        name="code",
        [(ngModel)]="model.code"
      )
    .label {{ "currency.sign" | translate }}
    p.control
      input.input(
        type="text",required,
        maxlength="5",
        placeholder="{{ 'currency.form.sign.placeholder' | translate }}",
        name="sign",
        [(ngModel)]="model.sign"
      )
    .label {{ "currency.title" | translate }}
    p.control
      hi-locale-input([(value)]="model.title")