.component.component-envelope-backdrop-form
  form
    .label {{ "common.title" | translate }}
    p.control
      hi-locale-input([(value)]="model.title")
    .label {{ "common.description" | translate }}
    p.control
      hi-locale-input([(value)]="model.description")
    .label {{ "dress_code.description_men" | translate }}
    p.control
      hi-locale-input([(value)]="model.description_men")
    .label {{ "dress_code.description_women" | translate }}
    p.control
      hi-locale-input([(value)]="model.description_women")
    .label {{ "common.preview" | translate }}
    p.control
      hi-attachment-image-instant-input([(value)]='preview', (on-upload-complete)='attachPreview($event)')