.route.route-locale-crud
  .modals
    hi-locale-create-modal(
      *ngIf="m.modals.create.isOpened()",
      (success)="r.addLocale($event); m.closeAllModals();",
      (cancel)="m.closeAllModals()"
    )
    hi-locale-delete-modal(
      *ngIf="m.modals.delete.isOpened()",
      (success)="r.removeLocale($event); m.closeAllModals();",
      (cancel)="m.closeAllModals()",
      [locale]="c.getCurrentEntity()"
    )
  .columns
    .column
      h1.title {{ "locale.crud.title" | translate }}
  .data-table
    hi-locale-data-table([entities]="getRows()")
  hr
  .is-pulled-right
    .control.is-grouped
      p.control
        button.button.button-color-red(type="button", (click)="m.delete()", [disabled]="! c.hasActiveEntity()")
          i.fa.fa-trash-o
          span {{ "common.delete" | translate }}
      p.control
        button.button.button-color-green(type="button", (click)="m.create()")
          i.fa.fa-plus-square-o
          span {{ "common.add" | translate }}