.component.component-create-envelope-texture-modal
  form((submit)="submit($event)")
    .modal
      .modal-background
      .modals
        hi-envelope-texture-additional-crud-create-modal(
          *ngIf="m.modals.additionalCreate.isOpened()",
          (success)="addDefinition($event); m.modals.additionalCreate.close();",
          (cancel)="m.modals.additionalCreate.close()"
        )
        hi-envelope-texture-additional-crud-delete-modal(
          *ngIf="m.modals.additionalDelete.isOpened()",
          (success)="removeDefinition(); m.modals.additionalDelete.close();",
          (cancel)="m.modals.additionalDelete.close()",
          [entity]='cursor.current()'
        )
        hi-envelope-texture-additional-crud-edit-modal(
          *ngIf="m.modals.additionalEdit.isOpened()",
          (success)="replaceDefinition($event); m.modals.additionalEdit.close();",
          (cancel)="m.modals.additionalEdit.close()",
          [entity]='cursor.current()'
        )
      .modal-card
        hi-form-progress-lock(*ngIf="status.isLoading()")
        .modal-card-head
          .modal-card-title
            span {{ "envelope-texture.modal.create.title" | translate }}
        .modal-card-body
          hi-envelope-texture-form(#envelopeTextureForm, [mode]="'create'", [(model)]="formModel")
        .modal-card-foot
          .columns
            .column
              button.button(type="button", (click)="cancel()")
                span.text {{ "common.cancel" | translate }}
            .column
              button.is-pulled-right.button.is-primary(
                type="submit",
                [disabled]="! checkRequiredFields()"
              )
                span.text {{ "common.add" | translate }}