.component.component-envelope-pattern-form
  form
    .label {{ "common.title" | translate }}
    p.control
      hi-locale-input([(value)]="model.title")
    .label {{ "common.description" | translate }}
    p.control
      hi-locale-input([(value)]="model.description")
    .is-pulled-left {{ getFileTitle(model.preview_file) }}
      i.fa.fa-times.is-pulled-right((click)='deleteFile("preview_file", model.preview_file)')
    p.control
      input.button.is-pulled-left(type='file', name='preview', (change)="onPreviewFileChange($event)", accept = "image/*")
    .is-pulled-left {{ getFileTitle(model.texture_file) }}
      i.fa.fa-times.is-pulled-right((click)='deleteFile("texture_file", model.texture_file)')
    p.control
      input.button.is-pulled-left(type='file', name='texture', (change)="onTextureFileChange($event)", accept = "image/*")