.component.component-oauth2-provider-form
  form
    .label(*ngIf="isCreateForm()") {{ "oauth2-providers.fields.code" | translate }}
      p.control
        input.input(type="text", required, placeholder="{{ 'oauth2-providers.form.code.placeholder' | translate }}", name="code", [(ngModel)]="model.code")
    .label(*ngIf="isCreateForm()") {{ "oauth2-providers.fields.handler" | translate }}
      p.control
        span.select
          select(required, name="handler", [(ngModel)]="model.handler")
            option(*ngFor='let item of handlers', [value]='item') {{ item }}
    .label {{ "oauth2-providers.fields.id" | translate }}
      p.control
        input.input(type="text", required, placeholder="(Client ID)", name="clientId", [(ngModel)]="model.config.clientId")
    .label Client Secret
      p.control
        input.input(type="text", required, placeholder="(Client Secret)", name="clientSecret", [(ngModel)]="model.config.clientSecret")
    .label Redirect Url
      p.control
        input.input(type="text", required, placeholder="(redirect url)", name="redirectUri", [(ngModel)]="model.config.redirectUri")