.component-hi-event-type-selector {
  p.control {
    margin-bottom: 5px;
  }
  span.button {
    width: 55px;
    text-align: center;
  }

  span.flag {
    img {
      vertical-align: top;
    }
  }
}