.component-hi-event-type-selector
  div.is-grouped
    p.control
      select.select.is-expanded([(ngModel)]="chosenEventType", (ngModelChange)='changeValue($event)')
        option(*ngFor="let event of event_types", [value]='event.id', [selected]="event.id === chosenEventType") {{ event.localizedTitle }}