.component.component-invite-card-size-datatable
  .results
    table.table.is-bordered.is-striped.is-narrow
      thead
        tr
          th(style="width: 25px") {{ "common.fields.position" | translate }}
          th(style="width: 25px") {{ "common.fields.id" | translate }}
          th(style="width: 200px") {{ "common.title" | translate }}
          th(style="width: 200px") {{ "common.description" | translate }}
          th(style="width: 75px") {{ "size.fields.width" | translate }}
          th(style="width: 75px") {{ "size.fields.height" | translate }}
      tbody
        tr(*ngFor="let entity of entities", [ngClass]="{'is-active': cursor.isActive(entity)}", (click)="cursor.select(entity)")
          td {{ entity.position }}
          td {{ entity.id }}
          td {{ entity.title | localize }}
          td {{ entity.description | localize }}
          td {{ entity.width }}
          td {{ entity.height }}