div.route.route-event-type-group-crud
  .modals
    hi-event-type-group-create-modal(
      *ngIf="m.modals.create.isOpened()", 
      (success)="r.addETG($event); m.closeAllModals();", 
      (cancel)="m.closeAllModals()"
    )
    hi-event-type-group-delete-modal(
      *ngIf="m.modals.delete.isOpened()", 
      (success)="r.removeETG($event); m.closeAllModals();", 
      (cancel)="m.closeAllModals()", 
      [entity]="c.getCurrentEntity()"
    )
    hi-event-type-group-edit-modal(
      *ngIf="m.modals.edit.isOpened()", 
      (success)="r.replaceETG($event.id, $event); m.closeAllModals();", 
      (cancel)="m.closeAllModals()", 
      [entity]="c.getCurrentEntity()"
    )
  .columns
    .column
      h1.title {{ "event-type-group.crud.title" | translate }}
  .data-table
    hi-event-type-group-table(#data, [entities]="getRows()")
  hr
  .is-pulled-right
    .control.is-grouped
      p.control
        button.button(type="button", (click)="p.down()", [disabled]="! p.canMoveDown()")
          i.fa.fa-arrow-circle-down
      p.control
        button.button(type="button", (click)="p.up()", [disabled]="! p.canMoveUp()")
          i.fa.fa-arrow-circle-up
      p.control
        button.button.button-color-red(type="button", (click)="m.delete()", [disabled]="! c.hasActiveEntity()")
          i.fa.fa-trash-o
          span.text {{ "common.delete" | translate }}
      p.control
        button.button.button-color-blue(type="button", (click)="m.edit()", [disabled]="! c.hasActiveEntity()")
          i.fa.fa-pencil-square-o
          span.text {{ "common.edit" | translate }}
      p.control
        button.button.button-color-green(type="button", (click)="m.create()", [disabled]="l.isLoading()")
          i.fa.fa-plus-square-o
          span.text {{ "common.add" | translate }}