.component.component-additional-edit-envelope-backdrop-modal
  form
    .modal
      .modal-background
      .modal-card
        hi-form-progress-lock(*ngIf="status.isLoading()")
        .modal-card-head
          .modal-card-title
            span {{ "common.add" | translate }}
        .modal-card-body
          hi-envelope-additional-backdrop-form([(model)]="formModel")
        .modal-card-foot
          .columns
            .column
              button.button(type="button", (click)="cancel()")
                span.text {{ "common.cancel" | translate }}
            .column
              button.is-pulled-right.button.is-primary(type="button", (click)="submit()", [disabled]="! submitButtonActive()")
                span.text {{ "common.add" | translate }}