.route.route-company-crud
  .modals
    hi-company-create-modal(
      *ngIf="m.modals.create.isOpened()",
      (success)="r.addCompany($event); m.closeAllModals();",
      (cancel)="m.closeAllModals()"
    )
    hi-company-delete-modal(
      *ngIf="m.modals.delete.isOpened()",
      (success)="r.removeCompany($event); m.closeAllModals();",
      (cancel)="m.closeAllModals()",
      [entity]="c.getCurrentEntity()"
    )
    hi-company-edit-modal(
      *ngIf="m.modals.edit.isOpened()",
      (success)="r.replaceCompany($event); m.closeAllModals();",
      (cancel)="m.closeAllModals()",
      [entity]="c.getCurrentEntity()"
    )
  .columns
    .column
      h1.title {{ "company.crud.title" | translate }}
  .data-table
    hi-company-data-table([entities]="getRows()")
  hr
  .is-pulled-right
    .control.is-grouped
      p.control
        button.button.button-color-red(type="button", (click)="m.delete()", [disabled]="! c.hasActiveEntity()")
          i.fa.fa-trash-o
          span {{ "common.delete" | translate }}
      p.control
        button.button.button-color-blue(type="button", (click)="m.edit()", [disabled] = "! c.hasActiveEntity()")
          i.fa.fa-pencil-square-o
          span {{ "common.edit" | translate }}
      p.control
        button.button.button-color-green(type="button", (click)="m.create()")
          i.fa.fa-plus-square-o
          span {{ "common.add" | translate }}