div.component.component-create-product-modal
  form((submit)="submit()")
    .modal
      .modal-background
      .modal-card
        hi-form-progress-lock(*ngIf="status.isLoading()")
        .modal-card-head
          .modal-card-title
            span Create product
        .modal-card-body
          label.label Amount
            p.control.has-addons
              input.input(type="text", required, maxlength="7", placeholder="(10 ...)", name="amount", [(ngModel)]="model.base_price.amount")
              span.select
                select([(ngModel)]="model.base_price.currency", name='currency')
                  option([(value)]='currency.code', *ngFor='let currency of repository.currencies') {{ currency.sign }}
          label.label Title
            p.control
              hi-locale-input([(value)]="model.title")
          label.label Description
            p.control
              hi-locale-input([(value)]="model.description")
        .modal-card-foot
          .columns
            .column
              button.button(type="button", (click)="cancel()") Cancel
            .column
              button.is-pulled-right.button.is-primary(type="submit", [disabled]="status.isLoading() && checkRequiredFields()", [ngClass]="{'is-loading': status.isLoading()}") Create