.component.component-edit-envelope-backdrop-modal
  form((submit)="submit($event)")
    .modal
      .modal-background
        .modals
          hi-envelope-backdrop-additional-crud-create-modal(
            *ngIf="m.modals.additionalCreate.isOpened()",
            (success)="addDefinition($event); m.modals.additionalCreate.close();",
            (cancel)="m.modals.additionalCreate.close()"
          )
          hi-envelope-backdrop-additional-crud-delete-modal(
            *ngIf="m.modals.additionalDelete.isOpened()",
            (success)="removeDefinition(); m.modals.additionalDelete.close();",
            (cancel)="m.modals.additionalDelete.close()",
            [entity]='cursor.current()'
          )
          hi-envelope-backdrop-additional-crud-edit-modal(
            *ngIf="m.modals.additionalEdit.isOpened()",
            (success)="replaceDefinition($event); m.modals.additionalEdit.close();",
            (cancel)="m.modals.additionalEdit.close()",
            [entity]='cursor.current()'
          )
      .modal-card
        hi-form-progress-lock(*ngIf="status.isLoading()")
        .modal-card-head
          .modal-card-title
            span {{ envelope_backdrop.title | localize }}
        .modal-card-body
          hi-envelope-backdrop-form(#envelopeBackdropForm, [(model)]="formModel", mode="edit")
        .modal-card-foot
          .columns
            .column
              button.button(type="button", (click)="cancel()")
                span.text {{ "common.cancel" | translate }}
            .column
              button.is-pulled-right.button.is-primary(
                type="submit",
                [disabled]="! isSubmitButtonActive()",
              )
                span.text {{ "common.save-changes" | translate }}