.component.component-envelope-backdrop-form
  form
    .label {{ "common.title" | translate }}
    p.control
      hi-locale-input([(value)]="model.title")
    .label {{ "common.description" | translate }}
    p.control
      hi-locale-input([(value)]="model.description")
    .label {{ "envelope-texture.definitions.title" }}
    p.control
      hi-envelope-additional-backdrop-data-table(#data, [entities]="model.definitions")
      button.is-pulled-right.button(type="button", (click)="m.modals.additionalCreate.open()") Add
      button.is-pulled-right.button(type="button", (click)="m.modals.additionalEdit.open()", [disabled]="! cursor.has()") Edit
      button.is-pulled-right.button(type="button", (click)="m.modals.additionalDelete.open()", [disabled]="! cursor.has()") Remove
    p.control
      hi-envelope-additional-texture-form([(model)]="model.previewModel")