.component.component-envelope-additional-marks-datatable
  .results
    table.table.is-bordered.is-striped.is-narrow
      thead
        tr
          th {{ "common.title" | translate }}
          th {{ "common.description" | translate }}
          th {{ "envelope-marks.attachment" | translate }}
      tbody
        tr(*ngFor="let entity of entities", [ngClass]="{'is-active': cursor.isActive(entity)}", (click)="cursor.select(entity)")
          td {{ entity.title | localize }}
          td {{ entity.description | localize }}
          td
            img.preview(*ngIf='hasAttachment(entity)', [src]='getFile(entity)')