.component-dress_code-data-table {
  tbody tr {
    cursor: pointer;
  }

  th {
    text-align: center;
  }

  td {
    text-align: center;
    vertical-align: middle;
  }

  img.preview {
    max-height: 70px;
  }
}