.component.component-dress_code-data-table
  .results
    table.table.is-bordered.is-striped.is-narrow
      thead
        tr
         th(style="width: 25px") {{ "common.fields.id" | translate }}
         th {{ "dress_code.fields.title" | translate }}
         th {{ "dress_code.fields.description" | translate }}
         th {{ "common.fields.preview" | translate }}
      tbody
        tr(*ngFor="let entity of entities", [ngClass]="{'is-active': cursor.isActive(entity)}", (click)="cursor.select(entity)")
          td {{ entity.id }}
          td {{ t.localize(entity.title) }}
          td {{ t.localize(entity.description) }}
          td
            img.preview(*ngIf='hasAttachment(entity)', [src]='entity.image.link.url')