.component-image-preview {
  position: fixed;
  top: 0; bottom: 0;
  left: 0; right: 0;
  z-index: 10000;

  >.backdrop {
    position: absolute;
    z-index: 10001;
    background-color: #000;
    opacity: 0.9;
    width: 100%;
    height: 100%;
  }

  >.content {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: auto;
    z-index: 10002;

    .image-container {
      display: flex;
      justify-content: center;
      align-items: center;
      align-content: center;
      width: 100%;
      height: 100%;

      img {
        background-color: #fff;
        border: 2px solid #000;
      }
    }
  }

  >.modal-close {
    z-index: 10002;
  }
}