div.component.component-delete-invite-card-style-modal
  form((submit)="submit()")
    .modal
      .modal-background
      .modal-card
        hi-form-progress-lock(*ngIf="status.isLoading()")
        .modal-card-body
          .notification.is-danger
            span {{ "invite-card.style.delete.header" | translate }} {{ getInviteCardStyleName() }} ?
          br
          p.text {{ "invite-card.style.delete.text"| translate }}
        .modal-card-foot
          .columns
            .column
              button.button(type="button", (click)="cancel()")
                span.text {{ "common.cancel" | translate }}
            .column
              button.is-pulled-right.button.is-danger(type="submit", [disabled]="status.isLoading() || isSubmitButtonDisabled()", [ngClass]="{'is-loading': status.isLoading()}")
                span(*ngIf="isSubmitButtonDisabled()") {{ buttonDisabledFor }}
                span.icon.is-small(*ngIf="! isSubmitButtonDisabled()")
                  i.fa-fw.fa.fa-trash
                span(*ngIf="! isSubmitButtonDisabled()")
                  span.text {{ "common.delete" | translate }}