@import "~sass-material-colors";
@import "../../../../styles/globals/index.head";

$BUTTON_SIZE: 25px;

div.color-picker {
  ul.palette-list {
    li.palette {
      display: inline-block;
      margin: 5px;
      position: relative;

      button.palette-button {
        cursor: pointer;
        display: inline-block;
        outline: 0;
        width: $BUTTON_SIZE;
        height: $BUTTON_SIZE;
        border: 3px solid;
        border-radius: 3px;
        overflow: hidden;
        padding: 0;
        box-sizing: border-box;

        &:hover {
          filter: brightness(1.2);
          -webkit-filter: brightness(1.2);
        }
      }

      button.palette-button-inactive {
        border-color: transparent!important;
      }

      button.palette-button-none {
        border: 0!important;
        background-color: transparent;
        font-size: $BUTTON_SIZE - 5px;
        line-height: $BUTTON_SIZE - 5px;
        height: $BUTTON_SIZE;
        width: $BUTTON_SIZE;
        text-align: center;
        color: material-color("grey", "400");
        position: relative;
        top: -2px;

        &:hover {
          filter: brightness(1.05);
          -webkit-filter: brightness(1.05);
        }
      }

      button.palette-button-none-active {
        color: material-color("blue-grey", "500");
      }
    }
  }
}