div.route.route-envelope-pattern-crud
    .modals
        hi-envelope-pattern-create-modal(*ngIf="m.modals.create.isOpened()", (success)="r.add($event); m.closeAllModals();", (cancel)="m.closeAllModals()")
        hi-envelope-pattern-delete-modal(*ngIf="m.modals.delete.isOpened()", (success)="r.remove($event); m.closeAllModals();", (cancel)="m.closeAllModals()", [envelope_pattern]="c.getCurrentEntity()")
        hi-envelope-pattern-edit-modal(*ngIf="m.modals.edit.isOpened()", (success)="r.replace($event); m.closeAllModals();", (cancel)="m.closeAllModals()", [envelope_pattern]="c.getCurrentEntity()")
    .columns
        .column
            h1.title {{ "sidebar.item.envelope.pattern.title" | translate }}
    .data-table
        hi-envelope-pattern-datatable([entities]="getEntities()")
    hr
    .is-pulled-right
        .control.is-grouped
            p.control
                button.button(type="button", (click)="p.down()", [disabled] = "! p.canMoveDown()")
                    i.fa.fa-arrow-circle-down
            p.control
                button.button(type="button", (click)="p.up()", [disabled] = "! p.canMoveUp()")
                    i.fa.fa-arrow-circle-up
            p.control
                button.button.button-color-red(type="button", (click)="m.delete()", [disabled] = "! c.hasActiveEntity()")
                    i.fa.fa-trash-o
                    span {{ "common.delete" | translate }}
            p.control
                button.button.button-color-blue(type="button", (click)="m.edit()", [disabled] = "! c.hasActiveEntity()")
                    i.fa.fa-pencil-square-o
                    span {{ "common.edit" | translate }}
            p.control
                button.button.button-color-green(type="button", (click)="m.create()")
                    i.fa.fa-plus-square-o
                    span {{ "common.add" | translate }}