@import "./../../../../../styles/globals/index.head";
@import "./../../../../../styles/mixins/disable-text-select";

div.component-edit-products-package-modal {
  @include disable-text-select;

  a.button{
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 45px;
    height: 50px;
    text-align: center;
  }

  div.values {
    div.value {
      display: inline-block;
      padding: 5px;
      margin: 3px;
      border-radius: 3px;
      background-color: material-color("grey", "200");
      border-color: material-color("grey", "800");
      font-size: 12px;
      color: material-color("grey", "700");

      span.title, span.close {
        display: inline-block;
      }

      span.title {
        @include enable-text-select
      }

      span.close {
        margin-left: 5px;
        cursor: pointer;

        &:hover {
          color: material-color("red", "400");
        }
      }
    }
  }

}