div.component.component-edit-products-package-modal
  form((submit)="submit()")
    .modal
      .modal-background
      .modal-card
        hi-form-progress-lock(*ngIf="status.isLoading()")
        .modal-card-head
          .modal-card-title
            span Edit product
        .modal-card-body
          label.label Color
            p.control
              hi-palette-picker([(value)]='model.palette')
          label.label Amount
            p.control.has-addons
              input.input(type="text", required, maxlength="7", placeholder="(10 ...)", name="amount", [(ngModel)]="model.base_price.amount")
              span.select
                select([(ngModel)]="model.base_price.currency", name='currency')
                  option([value]='currency.code', *ngFor='let currency of repository.currencies', [selected]="currency.code === model.base_price.currency") {{ currency.sign }}
          label.label Title
            p.control
              hi-locale-input([(value)]="model.title")
          label.label Description
            p.control
              hi-locale-input([(value)]="model.description")
          label.label Active product
            p.control
              input(type='checkbox', name="is_activated", [(ngModel)]='model.is_activated')
        .modal-card-foot
          .columns
            .column
              button.button(type="button", (click)="cancel()") Cancel
            .column
              button.is-pulled-right.button.is-primary(type="submit", [disabled]="status.isLoading()", [ngClass]="{'is-loading': status.isLoading()}") Edit