div.route.route-currency-crud
  .modals
    hi-currency-create-modal(
      *ngIf="m.modals.create.isOpened()",
      (success)="r.addCurrency($event); m.closeAllModals(); ",
      (cancel)="m.closeAllModals()"
    )
    hi-currency-delete-modal(
      *ngIf="m.modals.delete.isOpened()",
      (success)="r.deleteCurrency($event); m.closeAllModals(); c.cleanCurrentEntity();",
      (cancel)="m.closeAllModals()",
      [currency]="c.getCurrentEntity()"
    )
    hi-currency-edit-modal(
      *ngIf="m.modals.edit.isOpened()",
      (success)="r.replaceCurrency($event); m.closeAllModals();",
      (cancel)="m.closeAllModals()",
      [currency]="c.getCurrentEntity()"
    )
  .columns
    .column
      h1.title {{ "currency.crud.title" | translate }}
  .data-table
    hi-currency-data-table([entities]="getRows()")
  hr
  .is-pulled-right
    .control.is-grouped
      p.control
        button.button.button-color-red(type="button", (click)="m.delete()", [disabled]="! c.hasActiveEntity()")
          i.fa.fa-trash-o
          span {{ 'currency.crud.delete' | translate }}
      p.control
        button.button.button-color-blue(type="button", (click)="m.edit()", [disabled] = "! c.hasActiveEntity()")
          i.fa.fa-pencil-square-o
          span {{ 'currency.crud.edit' | translate }}
      p.control
        button.button.button-color-green(type="button", (click)="m.create()")
          i.fa.fa-plus-square-o
          span {{ 'common.create' | translate }}